{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}

{% block body %}

    <h1 class="display-4 text-center my-4">BACKOFFOCE</h1>

    <p class="text-center">Bienvenue sur votre BackOffice</p>

    <a href="{{ path('admin_articles') }}" class="col-md-6 offset-md-3 btn btn-dark mb-2">GESTION DES ARTICLES</a>

{% endblock %}
